<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>9Touhou - jubeat Saucer Season 3 Tournament Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/additional.css" rel="stylesheet">
    <link href="css/angular-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
    <link href="css/spacelab/bootswatch.less" rel="stylesheet/less">
    <link href="css/spacelab/variables.less" rel="stylesheet/less">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    
    <script type="text/javascript">
      
      function song_upload(){
        sg_upload = window.open("/songform", "_blank", "location=no,menubar=no,resizable=no,width=480,height=300"); 
        sg_upload.focus();
      }
      
      function submission_upload(purpose){
        sn_upload = window.open("/blobform/" + purpose, "_blank", "location=no,menubar=no,resizable=no,width=480,height=300"); 
        sn_upload.focus();
      }
      
      function mission_upload(purpose){
        sn_upload = window.open("/missionform/" + purpose, "_blank", "location=no,menubar=no,resizable=no,width=480,height=300"); 
        sn_upload.focus();
      }
      
      function achievement_upload(){
        sn_upload = window.open("/achievementform", "_blank", "location=no,menubar=no,resizable=no,width=480,height=300"); 
        sn_upload.focus();
      }      
    </script>
  </head>
  
  <body ng-controller="FirstController">
    <!--Navbar-->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="index.html" ng-cloak>{{company}}</a>
          
          <p class="navbar-text pull-right">
            Hello, <a href="#" class="navbar-link" ng-cloak>{{name}}</a>
            <button class="btn btn-small" data-toggle="modal" href="#Login" ng-show="name=='BAKA'" ng-cloak>Login</button>
            <button class="btn btn-small" data-toggle="modal" href="#Register" ng-show="name=='BAKA'" ng-cloak>Register</button>
            <span ng-show="isadmin==true" ng-cloak> (Admin)</span>
            <button class="btn btn-small" ng-hide="name=='BAKA'" ng-click="logout()" ng-cloak>Logout</button>
          </p>
        </div>
      </div>
    </div>
    
    <!--Login Modal-->
    <div class="modal hide fade" id="Login" style="display:none">
      <div class="modal-header">
        <input type="submit" class="close" value="x" data-dismiss="modal"/>
        <h3 id="Login">Login</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="UserName">Username</label>
          <div class="controls">
            <input type="text" ng-model="login.data.u_name" id="username"/>
          </div>
          <label class="control-label" for="PassWord">Password</label>
          <div class="controls">
            <input type="password" ng-model="login.data.u_pwd" id="password"/>
          </div>
          <div class="controls">
            <input type="submit" ng-click="getlogin()" value="Submit" data-dismiss="modal"/>
          </div>
        </div>			
      </div>
      <div class="modal-footer"></div>
    </div>
    
    <!--Registration Modal-->
    <div class="modal hide fade" id="Register" style="display:none">
      <div class="modal-header">
        <input type="submit" class="close" value="x" data-dismiss="modal"/>
        <h3 id="Register">Register</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" for="UserName">Username</label>
          <div class="controls">
            <input type="text" ng-model="login.data.u_name" id="username"/>
          </div>
          <label class="control-label" for="PassWord">Password</label>
          <div class="controls">
            <input type="password" ng-model="login.data.u_pwd" id="password"/>
          </div>
          <div class="controls">
            <input type="submit" ng-click="registerlogin()" value="Submit" data-dismiss="modal"/>
          </div>
        </div>					
      </div>
      <div class="modal-footer"></div>
    </div>
    
    <!-- Main Body -->
    <div class="container-fluid" id="main">
      <div id="LoadingDiv" ng-hide="waiting=='Ready'"></div>
      <div class="modal" id="Loading" ng-hide="waiting=='Ready'">
        <div class="modal-body">
          <span>Loading........</span>
        </div>
      </div>      
      <div class="row-fluid" id="wrap">
        
        <!-- Navigation Sidebar (Access separate panes). -->
        <div class="span3">
          <!--video controls="" autoplay="" name="media">
            <source src="http://abab.dip.jp/piano/tohokouma_6boss_p.mp3" type="audio/mpeg">
          </video-->
          <div class="well sidebar-nav sidebar-nav-fixed" id="sidenav">
            <ul class="nav nav-list">
              <li class="nav-header">Navigation</li>
              <li class="active"><a id="mp" href="#MainPage" data-toggle="tab">Main Page</a></li>
              <li><a id="cc" href="#CurrentChallenges" data-toggle="tab">Current Challenges</a></li>
              <li><a id="cr" href="#CurrentRanking" data-toggle="tab">Current Ranking</a></li>
              <li><a id="mp" href="#MyProfile" data-toggle="tab" ng-cloak>My Profile</a></li>
              <li><a id="mm" href="#Missions" data-toggle="tab" >Missions</a></li>
      
              <li class="nav-header" ng-show="isadmin==true" ng-cloak>Admin Console</li>
              <li><a id="an" href="#ManageAnnouncements" data-toggle="tab" ng-show="isadmin==true" ng-cloak>Manage Announcements/News (Under Construction)</a></li>
              <li><a id="mu" href="#ManageUsers" data-toggle="tab" ng-show="isadmin==true" ng-cloak>Manage Users</a></li>
              <li><a id="mc" href="#ManageChallenges" data-toggle="tab" ng-show="isadmin==true" ng-cloak>Manage Challenges</a></li>
              <li><a id="ms" href="#ManageAchievements" data-toggle="tab" ng-show="isadmin==true" ng-cloak>Manage Achievements</a></li>
              <li><a id="ms" href="#ManageSongs" data-toggle="tab" ng-show="isadmin==true" ng-cloak>Manage Songs</a></li>
              <li><a id="ab" href="#ViewSubmissions" data-toggle="tab" ng-show="isadmin==true" ng-cloak>View Submissions</a></li>
              <li><a id="lg" href="#ViewLogs" data-toggle="tab" ng-show="isadmin==true" ng-cloak>View Logs</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <!-- Main Body -->
        <div class="span9">
          
          <!-- Panes -->
          <div class="tab-content" id="main">
            
            <!-- Main Page Pane -->
            <div class="tab-pane active" id="MainPage">
              <div id="baka-page">
                <div class="container-fluid">
                  <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="container-fluid">
                          <div class="row-fluid">
                            <div class="span5">
                              <div class="well">
                                <img src="./img/jubeat-saucer.jpg" alt="">
                              </div>
                            </div>
                            <div class="span7">
                              <div class="carousel-caption">
                                <h1 ng-cloak>Hello, {{name}}!</h1>
                                <p class="lead">Welcome to the 9Touhou jubeat Saucer Season 3 contest page!</p>
                                <p>There will be weekly site maintenance on Wednesdays from 1000 hrs till 1600 hrs (UTC +0800).</p>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>
                      <!-- Announcements will go here -->
                      <div class="item">
                        <div class="container-fluid">
                          <div class="row-fluid">
                            <div class="span5">
                              <div class="well">
                                <img src="./img/Mystia_Shop_Queue2.jpg" alt="">
                              </div>
                            </div>
                            <div class="span7">
                              <div class="carousel-caption">
                                <h1>Calling all Foodies!</h1>
                                <p class="lead">Massive Queues At The Bamboo Forest!</p>
                                <br/>
                                <p>
                                <span style="font-style:italic">"...this store, a fine example of authentic (and non-avian) Gensokyo cuisine, has seen a massive increase in customers over the past month. A definite must-try to kick off this summer season!</span>
                                </p>
                                <p>
                                <span style="font-style:italic">
                                 - Aya Shameimaru, Bunbunmaru Newspaper"</span>
                                 </p>
                              </div>
                            </div>  
                          </div>
                        </div>
                      </div>                    
                      <!--div ui-if="!!challenges.entities.length"-->
                          <div class="item" ng-repeat="chal in challenges.entities | filter:activeChallenge" ng-cloak>
                            <div class="container-fluid">
                              <div class="row-fluid">
                                <div class="span5">
                                  <div class="well">                               
                                    <img ui-if="!!chal.c_songs.length" src="/file/serve/{{chal.c_songs[0].s_blob}}" alt="./img/jubeat-saucer.jpg">
                                    <img ui-if="!chal.c_songs.length" src="./img/jubeat-saucer.jpg">
                                  </div>
                                </div>
                                <div class="span7">
                                  <div class="carousel-caption">
                                    <h1>{{chal.c_name}}</h1>
                                    <p>{{chal.c_desc}}</p>
                                    <div ui-if="!!chal.c_songs.length">
                                        <ul>
                                          <li ng-repeat="cs in chal.c_songs">
                                          <span>{{cs.s_name}} ({{cs.s_difficulty}})</span>
                                          </li>
                                        </ul>
                                    </div>
                                    <div ng-hide="expireChallenge(chal)">
                                      <p id="c{{chal.id}}" class="lead">
                                        Expires: {{chal.c_date}}
                                      </p>
                                      <button class="btn btn-inverse"  onclick="submission_upload({{chal.id}})"  ng-hide="name=='BAKA'" ng-cloak>Submit Files</button>
                                    </div>
                                    <div ng-show="expireChallenge(chal)">
                                      Expired
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      <!--/div-->    
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                  </div>
                </div>
                <div class="row-fluid marketing">
                  <div class="span4">
                    <h2>About 9Touhou</h2>
                    <p>Coming soon........</p>
                    <p><a class="btn btn-small" href="#">View more &raquo;</a></p>
                  </div><!--/span-->
                  <div class="span4">
                    <h2>Top Scorers</h2>
                    <ol>
                      <li ng-repeat="user in users.entities | orderBy:'-u_points' | filter:userRanking | limitTo: 3" ng-cloak>
                        {{user.u_name}} ({{user.u_points}})
                      </li>
                    </ol>
                  </div><!--/span-->
                  <div class="span4">
                    <h2>Latest News</h2>
                    <ul>
                      <li>
                        Coming soon........
                      </li>
                    </ul>
                  </div><!--/span-->
                </div><!--/row-->
              </div>
            </div>
            
            <!-- Current Challenges Pane -->
            <div class="tab-pane" id="CurrentChallenges">
              <div class="container-fluid">
                <table class="table table-striped">
                  <thead>
                    <th>
                      Challenge Name
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Songs
                    </th>
                    <th>
                      Expires
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!challenges.entities.length">
                        <tr ng-repeat="chal in challenges.entities">
                          <td>
                            {{chal.c_name}}
                          </td>
                          <td>
                            {{chal.c_desc}}
                          </td>
                          <td>
                            <div ui-if="!!chal.c_songs">
                                <ul>
                                  <li ng-repeat="cs in chal.c_songs">
                                    <img src="/file/serve/{{cs.s_blob}}" style="width: 100px">
                                    <span>{{cs.s_name}} ({{cs.s_difficulty}})</span>
                                  </li>
                                </ul>
                            </div>
                          </td>
                          <td ng-hide="expireChallenge(chal)">
                            {{chal.c_date}}
                          </td>
                          <td ng-hide="expireChallenge(chal)">
                            <button class="btn btn-small"  onclick="submission_upload({{chal.id}})"  ng-hide="name=='BAKA'" ng-cloak>Submit Files</button>
                          </td>
                          <td ng-show="expireChallenge(chal)" ng-cloak>
                            Expired
                          </td>
                          <td ng-show="expireChallenge(chal)" ng-cloak>
                            -
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>	          	
            </div>
            
            <!-- My Profile Pane -->
            <div class="tab-pane" id="MyProfile">
              <div class="well" ng-show="name=='BAKA'">
                <h1>My Profile</h1>
                <p>You have to be logged in to view your profile!</p>
              </div>
              <div class="well" ng-hide="name=='BAKA'">
                <h1>{{name}}</h1>
                <h3>Points Acquired: {{points}}</h3>
                <div class="row-fluid">
                  <div class="span6">
                    <h3>Achievements Unlocked:</h3>
                    <button class="btn btn-small" ng-click="listachievementsusers()" ng-cloak>Refresh</button>
                    <button class="btn btn-small"  onclick="achievement_upload()"  ng-hide="name=='BAKA'" ng-cloak>Submit Files For Achievements</button>
                    <table class="table table-striped">
                      <thead>
                        <th>
                          Achievement Name
                        </th>
                        <th>
                          Points Awarded
                        </th>
                        <th>
                          Status/Action
                        </th>
                      </thead>
                      <tbody ui-if="!!achievements.entities.length">
                        <tr ng-repeat="achievement in achievements.entities">
                          <td>
                            {{achievement.a_name}}
                          </td>
                          <td>
                            {{achievement.a_points}}
                          </td>
                          <td>
                            <span class="badge" ng-repeat="award in achievementawards.entities | filter:{a_id : achievement.id, a_user : name}">
                            DONE
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="span6">
                    <h3>Notifications</h3>
                    <button class="btn btn-small" ng-click="listnotifications()" ng-cloak>Refresh</button> 
                    <table class="table table-striped">
                      <thead>
                        <th>
                          Date
                        </th>
                        <th>
                          Notification
                        </th>
                      </thead>
                      <tbody ui-if="!!notifications.entities.length">
                        <tr ng-repeat="notification in notifications.entities">
                          <td>
                            {{notification.n_date}}
                          </td>
                          <td>
                            {{notification.n_msg}}
                          </td>
                        </tr>
                      </tbody>
                    </table>                      
                  </div>
                </div>
              </div>
            </div>
            
            
            <!-- Current Ranking Pane -->
            <div class="tab-pane" id="CurrentRanking">
              <div class="container-fluid">
                <table class="table table-striped">
                  <thead>
                    <th>
                      Username
                    </th>
                    <th>
                      Points
                    </th>
                  </thead>
                  <tbody ui-if="!!users.entities.length">
                        <tr ng-repeat="user in users.entities | orderBy:'-u_points' | filter:userRanking">
                          <td>
                            {{user.u_name}}
                          </td>
                          <td>
                            {{user.u_points}}
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>	 	        	
            </div>
            
            <!-- Missions Pane-->
            <div class="tab-pane" id="Missions">
              <div>
                <figure class="fluidratio">
                  <div class="mission">
                    <div class="mission-row">
                      <h1><span>Mystia's Mission: <span style="font-style:italic">Diner Dash</span>!</span></h1>
                      <p><span style="font-weight:bold">Mystia's little stand in the middle of the bamboo forest was recently advertised on Bunbunmaru newspaper as THE place to go to for authentic Gensokyo cuisine. As a result, she has had a large influx of customers. Being one little night-sparrow, the number of orders has reached the point where she cannot cope any further.</span></p>
                      <p><span style="font-weight:bold">Mystia has enlisted you to assist her in creating culinary concoctions which will delight every customer. All for the sake of the continual promotion of her stand so that one day she can purchase enough wards to block Yuyuko's incessant raids to take her wings (though Yuyuko is still acceptable as a customer).</span></p>
                      <p><span style="font-weight:bold">Delighting customers means that the menu that is cooked up must appeal to every aspect of their tastes. Force-feeding the same hamburger steak to anyone 20 times will NOT generate good reviews. If you feed the customers till they are satisfied, they will write good reviews (hopefully) which will generate more interest and thus more customers so you can be ensla- I mean, <span style="font-style:italic">enlisted</span> to help again (what a privilege indeed).</span></p>
                      <p><span style="font-weight:bold">All in all, fail Mystia, and be doomed to night-blindness and deafness to all but the song.</span></p>
                    </div>
                    
                    <div class="mission-row">
                      <h3><span>Instructions</span></h3>
                      <p><span style="font-weight:bold">For this mission, you will need to use Bistro Saucer to create a dish. The dish is ultimately up to you, although customers will have food they like and food they hate (and some customers are *much* pickier than others).</span></p>
                      <p><span style="font-weight:bold">Each dish created generates points based on the size of the dish:</span></p>
                      <div style="background-color: rgba(161, 105, 110, 0.8)">
                        <table class="table table-striped">
                          <thead>
                            <th>
                              Dish Type
                            </th>
                            <th>
                              Points Awarded
                            </th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                Small Dish
                              </td>
                              <td>
                                1
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Medium Dish
                              </td>
                              <td>
                                2
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Large Dish
                              </td>
                              <td>
                                3
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Special Dish
                              </td>
                              <td>
                                5
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Bonus Points for Favorite Dish
                              </td>
                              <td>
                                2
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p><span style="font-weight:bold">No points are awarded if players serve a dish which the customers hate, no matter the size. If any player (somehow) creates Cha-han or mystery stew, the dish is considered a Special Dish, no matter the size.</span></p>
                      <p>
                      <p><span style="font-weight:bold;color:red">This mission will end on Wednesday, 31st July 2013 at 2300 hrs (UTC +0800).</span></p>
                    </div>
                    
                    <div class="mission-row">
                      <div class="row-fluid">
                        <div>
                          <h3><span>Menu Easy - <span style="font-style:italic">Palanquin Ship Seafood Grill</span></span></h3>
                          <p>Murasa has decided to take a trip around Gensokyo on land since she has visited almost all of the watery landmarks. She has decided to take a break at Mystia's Stand. As she is feeling nostalgic (which isn't lost) for her favourite food, please make some seafood for her.</p>
                          <div style="background-color: rgba(249, 249, 249, 0.7)">
                            <span style="font-weight:bold; color:green">
                            Favourite Food = Sushi, Paella
                            </span><br/>
                            <span style="font-weight:bold; color:red">
                            Disliked Food = Chicken Karaage, Spare Ribs
                            </span><br/>
                            <span style="font-weight:bold">
                            Points Required: 3
                            </span>
                            <p><button class="btn btn-small"  onclick="mission_upload('Menu Easy')"  ng-hide="name=='BAKA'" ng-cloak>Submit Files</button></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mission-row">
                      <div class="row-fluid">
                        <div>
                          <h3><span>Menu Normal - <span style="font-style:italic">Outside World Reality Cafe</span></span></h3>
                          <p>Yukari is bored of standard Gensokyo cuisine, and she is too lazy to "gap" herself to Japan. Thus she has requested for Mystia to cook up some modern food.</p>
                          <div style="background-color: rgba(249, 249, 249, 0.7)">
                            <span style="font-weight:bold; color:green">
                            Favourite Food = Pizza, Omurice
                            </span><br/>
                            <span style="font-weight:bold; color:red">
                            Disliked Food = Roast Pig, Mushroom Soup
                            </span><br/>
                            <span style="font-weight:bold">
                            Points Required: 5
                            </span>
                            <p><button class="btn btn-small"  onclick="mission_upload('Menu Normal')"  ng-hide="name=='BAKA'" ng-cloak>Submit Files</button></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mission-row">
                      <div class="row-fluid">
                        <div>
                          <h3><span>Menu Hard - <span style="font-style:italic">Earth Spirit Palace Delivery</span></span></h3>
                          <p>Okuu was asked to buy groceries for Orin. However, since she is a bird-brain, she seems to have forgotten what she needed to buy. So she decided to get Mystia to whip up a special delivery...</p>
                          <div style="background-color: rgba(249, 249, 249, 0.7)">
                            <span style="font-weight:bold; color:green">
                            Favourite Food = Any kind of Pasta
                            </span><br/>
                            <span style="font-weight:bold; color:red">
                            Disliked Food = Any dish containing only vegetables
                            </span><br/>
                            <span style="font-weight:bold">
                            Points Required: 8
                            </span>
                            <p><button class="btn btn-small"  onclick="mission_upload('Menu Hard')" ng-hide="name=='BAKA'" ng-cloak>Submit Files</button></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="mission-row">                      
                      <div class="row-fluid">
                        <div>
                          <h3><span>Menu Lunatic - <span style="font-style:italic">All-You-Can-Eat Netherworld Buffet</span></span></h3>
                          <p>OH NO. <a href="http://youtu.be/ObpEO4objqw">Yuyuko is very hungry</a>! And to make matters worse, there is no more food in Youmu's kitchen. Thus, Youmu has blackmailed Mystia to cook a feast for Yuyuko (unless she prefers to have her wings eaten).</p>
                          <div style="background-color: rgba(249, 249, 249, 0.7)">
                            <span style="font-weight:bold; color:green">
                            Favourite Food = Meat-on-bone
                            </span><br/>
                            <span style="font-weight:bold; color:red">
                            Disliked Food = Sushi, Mushroom Soup, Pizza
                            </span><br/>
                            <span style="font-weight:bold">
                            Points Required: 12
                            </span>
                            <p><button class="btn btn-small"  onclick="mission_upload('Menu Lunatic')" ng-hide="name=='BAKA'" ng-cloak>Submit Files</button></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <br/>
                    <br/>
                  </div>
                </figure>
              </div>
            </div>

            <!-- Manage Announcements/News Pane-->
            <div class="tab-pane" id="ManageAnnouncements">
              <div class="well">
                <h1>Manage Announcements/News</h1>
                <p class="lead">Hmmm, Announcements/News........</p>
              </div>
            </div>
            
            <!-- Manage Users Pane-->
            <div class="tab-pane" id="ManageUsers">
              <div class="container-fluid">
                <button class="btn btn-small" ng-click="listusers()" ng-cloak>Refresh</button> 
                <table class="table table-striped">
                  <thead>
                    <th>
                      <a href="" ng-click="predicate_users = 'u_name'; reverse=false">Username</a>
                      (<a href ng-click="predicate_users = '-u_name'; reverse=false">^</a>)
                    </th>
                    <th>
                      <a href="" ng-click="predicate_users = 'u_admin'; reverse=!reverse">Is Admin?</a>
                    </th>
                    <th>
                      <a href="" ng-click="predicate_users = 'u_points'; reverse=!reverse">Points</a>
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!users.entities.length">
                        <tr ng-repeat="user in users.entities | orderBy:predicate_users:reverse">
                          <td>
                            {{user.u_name}}
                          </td>
                          <td>
                            {{user.u_admin}}
                          </td>
                          <td>
                            {{user.u_points}}
                          </td>
                          <td>
                            -
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>	 	          	
            </div>
            
            <!-- Manage Challenge Pane -->
            <div class="tab-pane" id="ManageChallenges">
              <div class="container-fluid">
                <button class="btn btn-small" data-toggle="modal" href="#CreateChallenge" ng-cloak>Add New Challenge</button>
                <button class="btn btn-small" data-toggle="modal" href="#ScoreChallenge"  ng-cloak>Score Challenge</button>                 
                <button class="btn btn-small" data-toggle="modal" href="#ThemeRewards"  ng-cloak>Theme Rewards</button>                 
                <button class="btn btn-small" ng-click="listchallenge()" ng-cloak>Refresh</button>                 
                <table class="table table-striped">
                  <thead>
                    <th>
                      Challenge Name
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Admin Notes
                    </th>
                    <th>
                      Songs
                    </th>
                    <th>
                      Upload By
                    </th>
                    <th>
                      Expires
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!challenges.entities.length">
                    <tr ng-repeat="chal in challenges.entities">
                      <td>
                        {{chal.c_name}}
                      </td>
                      <td>
                        {{chal.c_desc}}
                      </td>
                      <td>
                        {{chal.c_notes}}
                      </td>
                      <td>
                        <div ui-if="!!chal.c_songs.length">
                            <ul>
                              <li ng-repeat="cs in chal.c_songs">
                                <img src="/file/serve/{{cs.s_blob}}" style="width: 100px">
                                <span>{{cs.s_name}} ({{cs.s_difficulty}})</span>
                              </li>
                            </ul>
                        </div>
                      </td>
                      <td>
                        {{chal.c_uploadby}}
                      </td>
                      <td ng-hide="expireChallenge(chal)">
                        {{chal.c_date}}
                      </td>
                      <td ng-show="expireChallenge(chal)">
                        Expired
                      </td>
                      <td>
                        <form ng-submit="deletechallenge({{chal.id}})">
                          <input class="btn btn-small" type="submit" name="Delete" value="Delete">
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal hide fade" id="CreateChallenge" style="display:none">
                  <div class="modal-header">
                    <input type="submit" class="close" ng-click="cancelchallenge()" value="x" data-dismiss="modal"/>
                    <h3 id="Login">Create Challenge</h3>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" ng-model="challenge.data.c_uploadby">
                    <div class="control-group">
                      <label class="control-label" for="ChalName">Challenge Name:</label>
                      <div class="controls">
                        <input type="text" ng-model="challenge.data.c_name"/>
                      </div>
                      <label class="control-label" for="ChalDesc">Description</label>
                      <div class="controls">
                        <textarea style="width: 250px; height: 35px; resize: none;" ng-model="challenge.data.c_desc"></textarea>
                      </div>
                      <label class="control-label" for="ChalNotes">Admin Notes</label>
                      <div class="controls">
                        <textarea style="width: 250px; height: 35px; resize: none;" ng-model="challenge.data.c_notes"></textarea>
                      </div>
                      <label class="control-label" for="ChalSongs">Songs</label>
                      <div class="controls">
                        <div ui-if="!!challenge.data.c_songs.length">
                            <ul>
                              <li ng-repeat="songdata in challenge.data.c_songs">
                                <span>{{songdata.s_name}} ({{songdata.s_difficulty}})</span>
                              </li>
                            </ul>
                        </div>
                        <select ng-model="c_song.s_name" ng-options="songselect.s_name as songselect.s_name for songselect in songs.entities"></select>
                        <select ng-model="c_song.s_difficulty">
                          <option value="BSC" selected>BSC (Basic)</option>
                          <option value="ADV">ADV (Advanced)</option>
                          <option value="EXT">EXT (Extreme)</option>
                        </select>
                        <button class="btn btn-small" ng-click="addsongtochallenge()">Add</button> 
                      </div>
                      <label class="control-label" for="ChalExpires">Expires</label>
                      <div class="controls">
                        <input ui-date ui-date-format ng-model="challenge.data.c_date"></input><br/> 
                        (All challenges expire at 2300 hrs (+0800) on the given date.)
                      </div>
                      <div class="controls">
                        <input type="submit" ng-click="addchallenge()" value="Submit" data-dismiss="modal"/>
                        <input type="submit" ng-click="cancelchallenge()" value="Cancel" data-dismiss="modal"/>
                      </div>
                    </div>			
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>

                <div class="modal hide fade" id="ScoreChallenge" style="display:none">
                  <div class="modal-header">
                    <input type="submit" class="close" ng-click="cancelscoring()" value="x" data-dismiss="modal"/>
                    <h3 id="Login">Score Challenge</h3>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" ng-model="c_scoring.data.c_uploadby">
                    <div class="control-group">
                      <label class="control-label" for="ChalName">Challenge Name:</label>
                      <div class="controls">
                        <select ng-model="c_scoring.data.c_id" ng-options="chalselect.id as chalselect.c_name for chalselect in challenges.entities"></select> {{c_scoring.data.c_id}}
                      </div>
                      <label class="control-label" for="ChalDesc">Rankings</label>
                      <div class="controls">
                        <div ui-if="!!c_scoring.data.c_rankings.length">
                            <ul>
                              <li ng-repeat="rankingdata in c_scoring.data.c_rankings">
                                <span>{{rankingdata.u_earned}}: {{rankingdata.u_name}}</span>
                              </li>
                            </ul>
                        </div>
                        <select ng-model="c_ranking.u_name" ng-options="userselect.u_name as userselect.u_name for userselect in users.entities | filter:userIsNotAdmin"></select>
                        <select ng-model="c_ranking.u_earned">
                          <option value="1st" selected>1st Place (5 pts)</option>
                          <option value="2nd">2nd Place (3 pts)</option>
                          <option value="3rd">3rd Place (2 pts)</option>
                          <option value="Participation">Participation (1 pts)</option>
                        </select>
                        <button class="btn btn-small" ng-click="addrankingtoscoring()">Add</button>
                      </div>
                      <div class="controls">
                        <input type="submit" ng-click="submitscoring()" value="Submit" data-dismiss="modal"/>
                        <input type="submit" ng-click="cancelscoring()" value="Cancel" data-dismiss="modal"/>
                      </div>
                    </div>			
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>


                <div class="modal hide fade" id="ThemeRewards" style="display:none">
                  <div class="modal-header">
                    <input type="submit" class="close" ng-click="cancelreward()" value="x" data-dismiss="modal"/>
                    <h3 id="Login">Theme Rewards</h3>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" ng-model="t_scoring.data.t_scoreby">
                    <div class="control-group">
                      <label class="control-label" for="ChalName">Theme Name:</label>
                      <div class="controls">
                        <input ng-model="t_scoring.data.t_name"></input>
                      </div>
                      <label class="control-label" for="ChalDesc">Rewards</label>
                      <div class="controls">
                        <div ui-if="!!t_scoring.data.t_rewards.length">
                            <ul>
                              <li ng-repeat="rewarddata in t_scoring.data.t_rewards">
                                <span>{{rewarddata.u_earned}}: {{rewarddata.u_name}}</span>
                              </li>
                            </ul>
                        </div>
                        <select ng-model="t_reward.u_name" ng-options="userselect.u_name as userselect.u_name for userselect in users.entities"></select>
                        <select ng-model="t_reward.u_earned">
                          <option value="1st" selected>1st Place (3 pts)</option>
                          <option value="2nd">2nd Place (2 pts)</option>
                          <option value="3rd">3rd Place (1 pts)</option>
                        </select>
                        <button class="btn btn-small" ng-click="addrewardtotheme()">Add</button>
                      </div>
                      <div class="controls">
                        <input type="submit" ng-click="submitreward()" value="Submit" data-dismiss="modal"/>
                        <input type="submit" ng-click="cancelreward()" value="Cancel" data-dismiss="modal"/>
                      </div>
                    </div>			
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>

                
              </div>
            </div>

            <!-- Manage Achievements Pane-->
            <div class="tab-pane" id="ManageAchievements">
              <div class="container-fluid">
                <button class="btn btn-small" ng-click="listachievementsusers()" ng-cloak>Refresh</button> 
                <button class="btn btn-small" data-toggle="modal" href="#CreateAchievement" ng-cloak>Add New Achievement</button>
                <button class="btn btn-small" data-toggle="modal" href="#AwardAchievement" ng-cloak>Award Achievement</button>                  
                <table class="table table-striped">
                  <thead>
                    <th>
                     <a href="" ng-click="predicate_achievements = 'a_name'; reverse=!reverse">Achievement Name</a>
                    </th>
                    <th>
                     <a href="" ng-click="predicate_achievements = 'a_points'; reverse=!reverse">Points Awarded</a>
                    </th>
                    <th width="70%">
                      Awarded To
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!achievements.entities.length">
                    <tr ng-repeat="achievement in achievements.entities | orderBy:predicate_achievements:reverse">
                      <td>
                        {{achievement.a_name}}
                      </td>
                      <td>
                        {{achievement.a_points}}
                      </td>
                      <td>
                        <span class="badge" ng-repeat="award in achievementawards.entities | filter:{a_id : achievement.id}">
                        {{award.a_user}}
                        </span>
                      </td>
                      <td>
                          <form ng-submit="deleteachievement({{achievement.id}})">
                            <input class="btn btn-small" type="submit" name="Delete" value="Delete">
                          </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <div class="modal hide fade" id="CreateAchievement" style="display:none">
                  <div class="modal-header">
                    <input type="submit" class="close" ng-click="cancelachievement()" value="x" data-dismiss="modal"/>
                    <h3 id="Login">Create Achievement</h3>
                  </div>
                  <div class="modal-body">
                    <input type="hidden" ng-model="achievement.data.a_uploadby">
                    <div class="control-group">
                      <label class="control-label" for="ChalName">Achievement Name</label>
                      <div class="controls">
                        <input type="text" ng-model="achievement.data.a_name"/>
                      </div>
                      <label class="control-label" for="ChalDesc">Achievement Points</label>
                      <div class="controls">
                        <select ng-model="achievement.data.a_points">
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                        </select>
                      </div>                        
                      <div class="controls">
                        <input type="submit" ng-click="addachievement()" value="Submit" data-dismiss="modal"/>
                        <input type="submit" ng-click="cancelachievement()" value="Cancel" data-dismiss="modal"/>
                      </div>
                    </div>			
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
            
                <div class="modal hide fade" id="AwardAchievement" style="display:none">
                      <div class="modal-header">
                        <input type="submit" class="close" ng-click="cancelaward()" value="x" data-dismiss="modal"/>
                        <h3 id="Login">Award Achievement</h3>
                      </div>
                      <div class="modal-body">
                        <input type="hidden" ng-model="awardachievement.data.a_uploadby">
                        <div class="control-group">
                          <label class="control-label" for="ChalDesc">Achievement</label>
                          <div class="controls">
                            <select ng-model="awardachievement.data.a_id" ng-options="achievement.id as achievement.a_name for achievement in achievements.entities"></select>
                          </div>                        
                          <label class="control-label" for="ChalDesc">User</label>
                          <div class="controls">
                            <select ng-model="awardachievement.data.a_user" ng-options="user.u_name as user.u_name for user in users.entities | filter:userIsNotAdmin"></select>
                          </div>
                          <div class="controls">
                            <input type="submit" ng-click="awardachievement()" value="Submit" data-dismiss="modal"/>
                            <input type="submit" ng-click="cancelaward()" value="Cancel" data-dismiss="modal"/>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                      </div>
                 </div>                  
              </div>	 	          	
            </div>
            
            <!-- Manage Songs Pane -->
            <div class="tab-pane" id="ManageSongs">
              <div class="container-fluid">
                <button class="btn btn-small" onclick="song_upload()" ng-cloak>Add New Song</button> 
                <button class="btn btn-small" ng-click="listsongs()" ng-cloak>Refresh</button> 
                <table class="table table-striped">
                  <thead>
                    <th>
                      Image
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Composer
                    </th>
                    <th>
                      Details
                    </th>
                    <th>
                      Upload Date
                    </th>
                    <th>
                      Upload By
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!songs.entities.length">
                    <tr ng-repeat="song in songs.entities">
                      <td>
                        <img src="/file/serve/{{song.s_blob}}" style="width: 100px">
                      </td>
                      <td>
                        {{song.s_name}}
                      </td>
                      <td>
                        {{song.s_comp}}
                      </td>
                      <td>
                        {{song.s_details}}
                      </td>
                      <td>
                        {{song.s_date}}
                      </td>
                      <td>
                        {{song.s_uploadby}}
                      </td>
                      <td>
                          <form ng-submit="deletesong({{song.id}})">
                            <input class="btn btn-small" type="submit" name="Delete" value="Delete">
                          </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>	          	
            </div>
            
            <!-- View Submissions Pane -->
            <div class="tab-pane" id="ViewSubmissions">
              <div class="container-fluid">
                <button class="btn btn-small" ng-click="listsubmissions()" ng-cloak>Refresh</button> 
                <table class="table table-striped">
                  <thead>
                    <th>
                      File
                    </th>
                    <th>
                     <a href="" ng-click="predicate_submissions = 'f_name'; reverse=!reverse">Name</a>
                    </th>
                    <th>
                     <a href="" ng-click="predicate_submissions = 'f_purpose'; reverse=!reverse">Purpose</a>
                    </th>
                    <th>
                     <a href="" ng-click="predicate_submissions = 'f_desc'; reverse=!reverse">Description</a>
                    </th>
                    <th>
                     <a href="" ng-click="predicate_submissions = 'f_owner'; reverse=!reverse">Owner</a>
                    </th>
                    <th>
                     <a href="" ng-click="predicate_submissions = 'f_date'; reverse=!reverse">Date</a>
                    </th>
                    <th>
                      Action
                    </th>
                  </thead>
                  <tbody ui-if="!!blobfiles.entities.length" >
                    <tr ng-repeat="file in blobfiles.entities | orderBy:predicate_submissions:reverse">
                      <td>
                        <a href="/file/serve/{{file.f_blob}}" target="_blank">View</a>
                      </td>
                      <td>
                        {{file.f_name}}
                      </td>
                      <td>
                        {{file.f_purpose}}
                      </td>
                      <td>
                        {{file.f_desc}}
                      </td>
                      <td>
                        {{file.f_owner}}
                      </td>
                      <td>
                        {{file.f_date}}
                      </td>
                      <td>
                          <form ng-submit="deletesubmission({{file.id}})">
                            <input type="submit" class="btn btn-small" name="Delete" value="Delete">
                          </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>	  
            </div>

                          
            <!-- View Logs Pane -->
            <div class="tab-pane" id="ViewLogs">
              <div class="container-fluid">
                <button class="btn btn-small" ng-click="listlogs()" ng-cloak>Refresh</button> 
                <table class="table table-striped">
                  <thead>
                    <th>
                      Date
                    </th>
                    <th>
                      Activity
                    </th>
                  </thead>
                  <tbody ui-if="!!logs.entities.length">
                    <tr ng-repeat="log in logs.entities">
                      <td>
                        {{log.l_date}}
                      </td>
                      <td>
                        {{log.l_msg}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>	 	        	
            </div>

          </div>
        </div><!--/span-->	        
      </div><!--/row-->
      
      <br/>
      <footer>
        <p class="muted credit">&copy; {{company}} 2013</p>
      </footer>
    </div><!--/.fluid-container-->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-ui.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/localStorageModule.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="../test/lib/angular/angular-mocks.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0016/4350.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>
